
@(message: String)

@main("Welcome to Java Bug Digger Visualization") {

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">JBD</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#show_process_filter" 
                id="show_process_filter_btn"
                class="btn btn-default navbar-btn active">Process Filter</a>
            </li>
            <li>
              <a href="#show_field_filter" 
                id="show_field_filter_btn" 
                class="btn btn-default navbar-btn">Field Filter
              </a>
            </li>
            <li>
              <a href="#show_reasoning_graph" 
                id="show_reasoning_graph_btn" 
                class="btn btn-default navbar-btn">Reasoning Graph
              </a>

            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Reload</a></li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>  

    <div class="modal fade bs-example-modal-lg" role="dialog" id="classes_db_query_dialog"
      aria-labelledby="process_fileter_label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="process_fileter_label">Build a query for classes and methods</h4>
          </div><!-- /.modal-header-->
          <div class="modal-body">
              
          </div>

        </div>
      </div>
    </div>
    <div class="panel panel-success" id="process_filter_panel">
        <div class="panel-heading">Process(JVM Instance) Filter</div>
        <div class="panel-body" style="max-height: 320px; overflow: scroll;">
          <div class="tree" id="process_filter_tree">

          </div> <!-- /.tree -->
    

          
        </div><!-- /.panel-body-->

    </div><!-- /#field-filter-panel -->
    <div class="panel panel-success hidden" id="field_filter_panel">
        <div class="panel-heading">Field Filter</div>
        <div class="panel-body" style="max-height: 320px; overflow: scroll;">
          

          
        </div><!-- /.panel-body-->

    </div><!-- /#field-filter-panel -->
    
    <div class="panel panel-success hidden" id="reasoning_graph_panel">
        <div class="panel-heading">Reasoning Graph (Signal dependency)</div>
        <div class="panel-body" style="max-height: 320px; overflow: scroll;">
          
          <svg id='reasoning-graph' width="2280" height="2500">
            
          </svg>
          
        </div><!-- /.panel-body-->

    </div><!-- /#field-filter-panel -->
 

    <div class="panel panel-info">
      <div class="panel-heading">Visualization</div>
      
      <div class="panel-body" style="max-height: 520px; overflow: scroll;">
      <a class="btn btn-success" href="#draw_seq_diagram" role="button">Draw Sequence Diagram</a>
      <a class="btn btn-warning" href="#replay" role="button">Replay</a>
      
        <svg id='diagram' width="2280" height="2500">
            <defs>
                <marker id="Triangle" viewBox="0 0 10 10" refX="1" refY="5" 
                        markerUnits="strokeWidth" markerWidth="4" markerHeight="5"
                        orient="auto">
                  <path d="M 0 0 L 10 5 L 0 10 z" fill="context-stroke"/>
                </marker>
            </defs>

        </svg>
      </div>
    </div>
   
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-left">
          
          <table class="table">
            
          </table>
        </div>
        <div class="nav navbar-nav navbar-right">
          <li>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
          </li>
          
          
        </div>
      </div>
    </nav>
                
       


}
