
@(message: String)

@main("Welcome to Java Bug Digger Virsualization") {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
    
    <div class="well">
        <form class="form-horizontal" id="exec-form">
            <fieldset>
                <legend>@message</legend>
                <label>Class name:</label>
                <input id="clazz-name" value="edu.syr.visualcode.samplemodels.Pi"/>

                <label class="checkbox">
                    <input type="checkbox" name="queuetype" id="inlineCheckbox1" value="in-memory"> In-memory Queue
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="queuetype" id="inlineCheckbox2" value="persistence"> Persistence Queue
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="queuetype" id="inlineCheckbox3" value="console"> Console Output Stream
                </label>
                <button id="loadClassButton">Load Class</button>
                <table class="table" id="classes-table">
                    <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Loading Datetime</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="classes-table-body">

                    </tbody>
                </table>

            </fieldset>
        </form>
    </div>
    <button id="getLogsButton">Get Trace Messages</button>
    <div id='diagram'></div>

}
